# Created by .ignore support plugin (hsz.mobi)
.idea
AutomationPracticeProject.iml
target
/src/test/java/AutomationPracticeProject/Selenium_Config/selenium.properties
/src/test/java/AutomationPracticeProject/Selenium_Config/seleniumdriver.properties
/src/test/java/AutomationPracticeProject/AppTest.java
/src/reports/
/src/test/java/AutomationPracticeProject/Selenium_Config/mySelenium_driver.properties
/src/test/java/AutomationPracticeProject/AppTest.java
/src/test/java/AutomationPracticeProject/Selenium_Config/selenium_driver.properties
/src/test/java/AutomationPracticeProject/CukesJunitRunner.java
